/*{#隐藏层，跳出弹窗时不允许进行其他操作#}*/
#hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%; /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 100%;
    filter: alpha(opacity=60); /*设置透明度为60%*/
    opacity: 0.6; /*非IE浏览器下设置透明度为60%*/
    display: none;
    z-Index: 2;
}
