<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/css/bootstrap.css"/>
<link rel="stylesheet" href="static/css/self.css"/>
<link rel="icon" href="static/images/favicon.ico">
<head>
    <meta charset="UTF-8" content="user-scalable=0">
    <title>MJ's Blog</title>

</head>
<body id="body">
<div id="hidebg"></div>

<header class="navbar navbar-inverse" role="banner" style="background:#286090">
    <div class="navbar-brand" style="color:#ffff00">MJ'S BLOG</div>
    <ul class="nav navbar-nav">
        <li name="home" role="presentation"><a href="/">个人主页</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="articles">所有文章</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="albums">相册</a></li>
    </ul>
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="comments">留言</a></li>
    </ul>
    {#    <img src="/static/images/tx.jpg" style="float:right;width: 30px; height: 30px;margin: 10px">#}
    {% if request.session.user %}
        <ul class="nav navbar-nav" style="float: right;">
            <li role="presentation"><a href="logout">退出</a></li>
        </ul>
        <ul class="nav navbar-nav" style="float: right;">
            <li role="presentation"><a style="color: #ffff00">欢迎{{ request.session.user.acct }}</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav" style="float: right;">
            <li role="presentation"><a id="login" href="#">登录</a></li>
        </ul>
        <ul class="nav navbar-nav" style="float: right;">
            <li role="presentation"><a href="goToRegisterPage">注册</a></li>
        </ul>
    {% endif %}


    <form action="" class="navbar-form" style="float:right;">
        <div class="form-group has-feedback">
            <label for="pw"></label>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
            <input type="text" id="pw" class="form-control" placeholder="搜索博主文章">
        </div>
    </form>

</header>

<div class="container">
    <div id="left-nav" style="width: 20%; float: left;">

        <div class="navbar-brand" style="color:#2b669a;">个人信息</div>
        <div id="info">

            <img src="/static/images/tx.jpg" style="width: 150px; height: 150px">
            <br>
            <br>
            <p>&nbsp;&nbsp;所在地：南京</p>
            <p>&nbsp;&nbsp;访问量：0</p>
        </div>

        <div id="type">
            <div class="navbar-brand" style="color:#2b669a;">文章分类</div>
            <br><br>
            <ul class="nav nav-stacked">
                <li role="presentation" class="active"><a>&nbsp;&nbsp;技术类</a></li>
                <li role="presentation"><a>&nbsp;&nbsp;游记类</a></li>
                <li role="presentation"><a>&nbsp;&nbsp;情感类</a></li>
                <li role="presentation"><a>&nbsp;&nbsp;搞笑类</a></li>
            </ul>
        </div>
        <div id="album">
            <div class="navbar-brand" style="color:#2b669a;">相册</div>
            {#            <img src="/static/images/album1.jpg" style="width: 150px; height: 112px"><br><br>#}
            {#            <img src="/static/images/album1.jpg" style="width: 69px; height: 51px">&nbsp;&nbsp;#}
            {#            <img src="/static/images/album1.jpg" style="width: 69px; height: 51px">#}
        </div>
    </div>

    <div class="body-content container" style="float:left;width:77%;">
        {% block body-content %}{% endblock %}     <!-- 使用blok来空出子页面需要填充的内容 -->
    </div>

    <div name="div3" id="div3" hidden="true"
         style="width:25%;position: absolute;z-index: 999;background-color: #c9def0 ;left:37%">

        <a href="loginClose"  style="float: right;font-size:x-large;margin-right: 8px;margin-top: 8px" id="close" class="close">×</a>
        {#        <div class="container" style="border:3px #9acfea solid ;">#}
        <br>
        <div class="container" style="width: 80%">
            <p style="font-size: 20px;color:#2b669a;">用户账号登录</p><br>
            <div class="box_cont">
                <form class="box_frm" action="login" method="post">
                    {% csrf_token %}
                    <input name="username" style="width:100%;opacity:0.6;" type="text" placeholder="账号/手机/邮箱"/><br><br>
                    <input name="password" style="width:100%;opacity:0.6;" type="password" placeholder="密码"/><br><br>
                    <div class="checbox">

                        <label class="checkbox-inline">
                            <input name="keep" type="checkbox" style="margin-right: 4px">
                            <small>下次自动登录
                                &nbsp;&nbsp;&nbsp;
                                <a href="goToRegisterPage">立即注册</a></small>
                            <br>
                            {% if request.session.login_stat == '0' %}
                                <small>用户名密码错误</small>
                            {% elif request.session.login_stat == '-1' %}
                                <small>服务器连接超时</small>
                            {% endif %}

                        </label>
                        <br><br>
                    </div>

                    <input style="width:100%;" type="submit" value="登录" class="btn btn-primary"><br><br>
                </form>
            </div>
        </div>
        {#        </div>#}
    </div>


</div>

</body>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/jquerySession.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<script src="static/js/self.js"></script>
<script>

    function showLogin() {
        var login_stat = "{{request.session.login_stat}}";
        if ((login_stat == '-1') | (login_stat == '0')) {
            $('#div3').show(100);
            hidebg.style.display = "block";
            $('#body').attr("style", "overflow: hidden");
        }
    };
    showLogin();
    var close = document.getElementById("close");
    close.onclick = function close() {
        $('#div3').hide(100);
        hidebg.style.display = "none";
        $('#body').removeAttr("style");
{#        {% csrf_token %}#}
{#        $.post('loginClose');#}


    };


</script>

{% block js %}
{% endblock %}

</html>