<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comments</title>
    <link rel="stylesheet" href = "../static/css/bootstrap.css"/>
</head>
<body>

        <div class="navbar-brand" style="color:#2b669a;">留言板</div><br><br><br>
        <div id="comment" style="float: right;width: 97%">

        <form action="" method="post" class="STYLE-NAME">

{##}
{#            <input id="name" type="text" name="name" placeholder="请输入你的昵称" />#}
{#            <br><br>#}

            <textarea id="message" name="message"  placeholder="请输入你的留言" style="width: 100%;height: 130px;"></textarea>
            <span>
            <input type="button" class="btn btn-primary" value="发表" style="float:right;width:10%"/></span>
            <br><br>

        </form>
        </div>
        <div class="navbar-brand" style="color:#2b669a;">留言区</div>
        <br><br><br>
        <div id="already" style="float: right;width: 97%">
            <div id="top1" style="border-bottom:2px solid #c0c0c0;border-top:2px solid #c0c0c0 ;">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;希望更新关于scikit-learn的更多内容,希望更新关于scikit-learn的更多内容，希望更新关于scikit-learn的更多内容，希望更新关于scikit-learn的更多内容，希望更新关于scikit-learn的更多内容</p>
                <small style="float: right"><a >删除&nbsp;&nbsp;</a><a >回复&nbsp;&nbsp;</a>1楼 Jumboo&nbsp;&nbsp;2018-12-10&nbsp;&nbsp;15:11:32</small><br>
            </div>
            <div id="top2" style="border-bottom:2px solid #c0c0c0">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;希望更新关于scikit-learn的更多内容</p>
                <small style="float: right"><a >删除&nbsp;&nbsp;<a >回复&nbsp;&nbsp;</a>2楼 Jumboo&nbsp;&nbsp;2018-12-10&nbsp;&nbsp;15:11:33</small><br>
            </div>
            <div id="top3">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;希望更新关于scikit-learn的更多内容</p>
                <small style="float: right"><a >删除&nbsp;&nbsp;<a >回复&nbsp;&nbsp;</a>3楼 Jumboo&nbsp;&nbsp;2018-12-10&nbsp;&nbsp;15:11:34</small><br>
            </div>
        </div>


</body>

</html>