{% extends 'common/head.html' %}    # 继承母版内容

<!-- 填充页面css样式内容 -->
{#{% block css %}#}
{#    <link rel="stylesheet" href="static/css/bootstrap.css"/>#}
{#    <link rel="stylesheet" href="static/css/self.css"/>#}
{#{% endblock %}#}

<!-- 填充页面内容 -->
{% block body-content %}

    <div class="navbar-brand" style="color:#2b669a;">留言板</div>
    <br><br><br>
    <div id="comment" style="float: left;width: 100%">

        <form action="comments" method="POST" class="STYLE-NAME">
            {% csrf_token %}
            <textarea id="message" name="message" placeholder="请输入你的留言"
                      style="width: 100%;float:right;height: 130px;"></textarea>
            <br/><br/>
            <input id="commentButton" name="login" type="submit"  class="btn btn-primary" value="发表"
                   style="float:right;margin-left: 10px;width:10%"/>

        </form>
    </div>


    <div class="navbar-brand" style="color:#2b669a;width: 100%;">留言区</div>

    <div id="already"  style="float: left;width: 100%;left:10%">

        {% for comment in comments %}
            <div id="top1" style="border-bottom:2px solid #c0c0c0;border-top:2px solid #c0c0c0 ;">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.message }}</p>
                <small style="float: right">{{ comment.floor }}楼
                    {{ comment.user }}&nbsp;&nbsp;{{ comment.date }}<a>&nbsp;&nbsp;删除&nbsp;&nbsp;</a><a>回复</a>
                </small>
                <br>
            </div>
        {% endfor %}
{#    <p id="user" hidden="true">{{ request.session.user }}</p>#}
    </div>

{% endblock %}
<!-- 填充页面js代码内容 -->
{% block js %}
    <script lang="javascript">
        var comment = document.getElementById("commentButton");
        var user = "{{ request.session.user }}";
        comment.onclick = function check() {
            if (user){
                return true;
            }
            else{
                $('#div3').show(100);
                hidebg.style.display = "block";
                $('#body').attr("style", "overflow: hidden");
                return false;
            }

        }


    </script>
{% endblock %}