{% extends 'common/head.html' %}    # 继承母版内容

<!-- 填充页面css样式内容 -->
{% block css %}
{#    <link rel="stylesheet" href = "static/css/bootstrap.css"/>#}
{#    <style>#}
{#    li>a{#}
{#    color:#000;#}
{#    }#}
{#    </style>#}
{% endblock %}

<!-- 填充页面内容 -->
{% block body-content %}

    <div name="summary" style="width: 100%; float: right">
        <header class = "navbar " role="banner" style="height:30%">
        <div class="navbar-brand" style="color:#2b669a;">动态更新</div>
        <ul class="nav navbar-nav" style="float: right;height:30%">
            <li role="presentation"><a>按更新时间</a></li>
            <li role="presentation"><a>按访问量</a></li>
        </ul>
            <div class="navbar-brand" style="color:#2b669a;float: right;font-size: 14px">排序</div>
        </header>
        <div id="top1" style="float:right;width: 98%">
        <li ><a href="articles/article" style="font-size:16px;">Hola , Spain</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ top1 }}
        <br>
        <small style="float: right">{{ time }} &nbsp;&nbsp;阅读数：{{ read_time }}&nbsp;&nbsp;评论数：0 &nbsp;&nbsp; &nbsp;&nbsp; </small></div>



    </div>

{% endblock %}

<!-- 填充页面js代码内容 -->
{% block js %}

{% endblock %}