<!DOCTYPE html>
<html lang="en">
<style>
li>a{
    color:#000;
}
</style>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "static/css/bootstrap.css"/>
    <link rel="stylesheet" href = "static/css/self.css"/>
{#    <link rel="icon" href="static/images/favicon.ico">#}
</head>
<body>
<div class="container">
    <div id="left-nav" style="width: 15%; float: left;" >

        <div class="navbar-brand" style="color:#2b669a;">个人信息</div>
        <div id="info">

            <img src="/static/images/tx.jpg" style="width: 200px; height: 200px">
            <br>
            <br>
            <p>&nbsp;&nbsp;所在地：南京&nbsp;&nbsp;访问量：0</p>
        </div>


        <div id="type">
            <div class="navbar-brand" style="color:#2b669a;">文章分类</div><br><br>
            <ul class="nav nav-stacked">
                <li role="presentation" class="active"><a>&nbsp;&nbsp;技术类</a></li>
                <li role="presentation"><a>&nbsp;&nbsp;游记类</a></li>
                <li role="presentation"><a >&nbsp;&nbsp;情感类</a></li>
                <li role="presentation"><a>&nbsp;&nbsp;搞笑类</a></li>
            </ul>
        </div>
        <div id="album">
        <div class="navbar-brand" style="color:#2b669a;">相册</div>
            <img src="/static/images/album1.jpg" style="width: 200px; height: 150px">
    </div>
    </div>
    <div name="summary" style="width: 80%; float: right">
        <header class = "navbar " role="banner" style="height:30%">
        <div class="navbar-brand" style="color:#2b669a;">动态更新</div>
        <ul class="nav navbar-nav" style="float: right;height:30%">
            <li role="presentation"><a>按更新时间</a></li>
            <li role="presentation"><a>按访问量</a></li>
        </ul>
            <div class="navbar-brand" style="color:#2b669a;float: right;font-size: 14px">排序</div>
        </header>
        <div id="top1" style="float:right;width: 98%">
        <li ><a href="articles/article" style="font-size:16px;">Hola , Spain</a></li>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ top1 }}

        <br>
        <small style="float: right">{{ time }} &nbsp;&nbsp;阅读数：{{ read_time }}&nbsp;&nbsp;评论数：0</small></div>

{#        <input class="btn btn-info" type="file" >#}

    </div>

</div>
</body>
</html>